<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/partials/partials :: head"></head>
<style th:replace="/partials/partials :: style"></style>
<body>
<nav th:replace="/partials/partials :: navbar"></nav>

<div class="container">
    <form th:action="@{/posts/create}" th:method="post" th:object="${post}">
        Post Title:
        <input th:field="*{title}"/>
        <br>
        Your post:
        <input th:field="*{body}">
        <br>
        <button type="submit">Submit</button>
    </form>

</div>
<div th:replace="partials/partials :: footer"></div>

</body>
</html>